h1
{   text-align:center; 
    font-size: 69px;
    font-style: oblique;
}
p
{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align:center;
    color:red ;
}